<div class="side_bar">
  <div class="category_title">
    <div class="category_letter">hoge</div>
    <div class="category_show">
      <%# <%= link_to "旅行", root_path, class: 'category_branch' %>
      <%# <%= link_to "自分", root_path, class: 'category_branch' %>
      <%# <%= link_to "美容", root_path, class: 'category_branch' %>
      <%# <%= link_to "食べ物", root_path, class: 'category_branch' %>
      <%# <%= link_to "欲しいもの", root_path, class: 'category_branch' %>
      <%# <%= link_to "家族・恋人", root_path, class: 'category_branch' %>
      <%# <%= link_to "その他", root_path, class: 'category_branch' %>
    </div>
  </div>
</div>